/* * {
    box-sizing: border-box;
} */


html,
body {
    margin: 0;
    padding: 0;
}

body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font: normal 13px/24px "Cuprum", "PT Sans", "Arial", sans-serif;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

a {
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}

li {
    margin: 0;
    list-style: none;
}

h1 {
    font: normal 30px/30px "Cuprum", "PT Sans", sans-serif;
    text-transform: uppercase;
}

h2 {
    font: normal 30px/24px "Cuprum", "PT Sans", sans-serif;
    text-transform: uppercase;
}

h3 {
    font: bold 18px/20px "Cuprum", "PT Sans", sans-serif;
    text-transform: uppercase;
}

/*Header*/

.page-header {
    min-height: 20px;
    margin: 0;
    padding: 0;
    font: normal 17px/18px "Cuprum", "PT Sans", sans-serif;
    background-color: #f1f5f7;
    color: #ffffff;

}

.panel-top-header {
    background-color: #293449;
}

.logo {
    width: 220px;
    padding-top: 10px;
    padding-bottom: 8px;
    display: block;
    float: left;
    font: normal 24px/24px "Cuprum", "PT Sans", sans-serif;
    color: inherit;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #ee3643;
    box-shadow: 0 5px 0 0 #b52933;
}

.logo:hover {
    background-color: #ca2c37;
    box-shadow: 0 5px 0 0 #9a212a;
}

.logo:active {
    background-color: #ba2732;
    box-shadow: 0 5px 0 0 #8e1e26;
}

.panel-search {
    width: 238px;
    float: left;
    padding: 0 0 0 48px;
    position: relative;
}

.panel-search:hover {
    background-color: #212a3a;
}

.panel-search::before {
    content: "";
    width: 17px;
    height: 17px;
    position: absolute;
    top: 13px;
    left: 15px;
    background: transparent url(../img/icons-sprites.png) no-repeat -10px -644px;
    opacity: 0.5;
}

.panel-search:hover::before {
    content: "";
    opacity: 1;
}

.panel-search:active {
    background-color: #ffffff;
}

.panel-search:active::before {
    content: "";
    width: 17px;
    height: 17px;
    position: absolute;
    top: 13px;
    left: 15px;
    background: transparent url(../img/icons-sprites.png) no-repeat -10px -681px;
}

.panel-search input {
    width: 100%;
    height: 40px;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: inherit;
}

.panel-search input:focus {
    color: #000000;
    background-color: #ffffff;
}

.user-menu {
    width: 400px;
    height: 42px;
    margin: 0;
    padding: 0;
    float: right;
    display: flex;
    justify-content: space-around;
    position: relative;
}

.user-menu li {
    width: 150px;
    height: 42px;
    margin: 0;
    padding: 0 15px 0 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
}

.user-menu li:first-child {
    margin: 0 0 0 -30px;
    padding: 0 0 0 0;
}

.user-menu li:first-child:hover::before {
    content: "";
    opacity: 1;
}

.user-menu li:first-child:active::before {
    content: "";
    opacity: .7;
}

.user-menu li:first-child::before {
    width: 14px;
    height: 16px;
    content: "";
    position: absolute;
    top: 13px;
    left: -33px;
    background: transparent url(../img/icons-sprites.png) no-repeat -10px -303px;
    opacity: .4;
}

.user-menu li:nth-child(2) {
    margin: 0 0 0 25px;
    padding: 0 0 0 0;
}

.user-menu li:nth-child(2)::before{
    width: 17px;
    height: 16px;
    content: "";
    position: absolute;
    top: 12px;
    left: 114px;
    background: transparent url(../img/icons-sprites.png) no-repeat -10px -267px;
    opacity: .4;
}

.user-menu li:nth-child(2):hover::before {
    content: "";
    opacity: 1;
}

.user-menu li:nth-child(2):active::before {
    content: "";
    opacity: .7;
}

.user-menu li:last-child {
    background-color: #63a63e;
}

.user-menu li:last-child:hover {
    background-color: #5fbb2d;
}

.user-menu li:last-child:active {
    background-color: #518534;
    color: #b7c9af;
}

.user-menu a {
    color: inherit;
    font: normal 17px/18px "Cuprum", "PT Sans", sans-serif;
}

.panel-data-header {
    padding-top: 45px;
    padding-bottom: 39px;
    background-color: #f1f5f7;
}

.panel-text {
    width: 200px;
    margin: 0 18px 0 0;
    padding: 3px 50px 0 53px;
    float: left;
}

.panel-text p {
    margin: 0;
    padding: 0;
    display: block;
    font: italic 16px/23px "Cuprum", "PT Sans", "Arial", sans-serif;
    color: #e9292a;
}

.panel-contact {
    width: auto;
    float: left;
    padding: 0;
    margin: 0;
    margin-right: 20px;
    border: 1px solid transparent;
}

.panel-fone {
    width: 180px;
    margin: 0 30px -4px 0;
    padding: 9px 30px 9px 50px;
    position: relative;
    text-align: center;
    border: 3px solid #ffffff;
    font: normal 21px/18px "Cuprum", "PT Sans", "Arial", sans-serif;
    position: relative;
}

.fone {
    color: #e9292a;
}

.fone::before {
    content: "";
    width: 19px;
    height: 19px;
    position: absolute;
    top: 9px;
    left: 9px;
    background: transparent url(../img/icons-sprites.png) no-repeat  -10px -605px;
}


.panel-addres {
    margin: 10px 0 0 0;
    padding: 0;
    color: #32425c;
    font: normal 14px/24px "Cuprum", "PT Sans", "Arial", sans-serif;
}

.panel-addres p {
    width: 268px;
    margin: 0;
    text-align: center;
}

.panel-inputs {
    width: 285px;
    margin: 0;
    float: right;
    font: normal 21px/18px "Cuprum", "PT Sans", "Arial", sans-serif;
    position: relative;
    display: flex;
    justify-content: center;
}

.panel-inputs a {
    display: flex;
    justify-content: center;
    align-items:center;
    align-self: center;
}

.panel-inputs a:first-child {
    width: 120px;
    height: 50px;
    margin: 0 9px 0 0;
    padding: 0 0 0 15px;
    background-color: #ffffff;
}
  

.panel-inputs a:first-child::before {
    width: 20px;
    height: 17px;
    content: "";
    position: absolute;
    top: 14px;
    left: 16px;
    background: transparent url(../img/icons-sprites.png) no-repeat -10px -494px;
}

.panel-inputs a:last-child {
    width: 150px;
    margin: 0 0 0 0;
    padding: 15px 0 15px 0;
    background-color: #ffffff;

}

.panel-inputs a:last-child:hover {
    color: #ee3643;
}

.panel-navigation-header {
    margin: 0;
    padding-bottom: 65px;
    background-color: #f1f5f7;
}

.main-menu {
    width: 100%;
    min-height: 60px;
    margin: 38px 0 0 0;
    background-color: #32425c;
}

.main-menu ul {
    margin: 0;
    padding: 20px 25px 20px 51px;
}

.main-menu li{
    margin: 0;
    display: inline-block;
    vertical-align: top;
}

.main-menu li:first-child {
    padding: 0 60px 0 0;
}

.main-menu li:nth-child(2),
.main-menu li:nth-child(3),
.main-menu li:nth-child(4),
.main-menu li:nth-child(5) {
    padding: 0 55px 0 0;
}

.main-menu li:last-child {
    padding: 0 0 0 61px;
}

.main-menu a{
    margin: 0;
    padding: 0;
    color: #ffffff;
}

/* main */

.page-main {
    border: 1px solid transparent;
}

.block-sorting-top {
    margin: 60px 0 50px 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.blocks-article {
    width: 300px;
    height: 125px;
    margin: 0;
}
    
.blocks-article span {
    font: normal 24px/30px "Cuprum", "PT Sans", sans-serif;
}

.blocks-article a {
    font: normal 14px/18px "Cuprum", "PT Sans", sans-serif;
}

.block-materials {
    margin: 0 20px 20px 0;
    background-color: #f6b22d;
}

.block-tool {
    margin: 0 20px 20px 0;
    background-color: #4aafde;
}

.block-equipment {
    margin: 0;
    background-color: #cc79d1;
}

.block-discount {
    background-color: #85d179;
}

.block-delivery {
    background-color: #f6b22d;
}

.slider {
    width: 620px;
    height: 270px;
    margin: 0;
    padding: 0;
    position: relative;
}

.slider-controls {
    width: 35px;
    height: 45px;
    position: absolute;
    left: 10px;
    top: 50%;
}

.slider-controls i {
    width:28px;
    height:3px;
    margin:0;
    background:white;
    border:3px solid white;
    cursor:pointer;
}

.slide {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow:hidden;
    background-color:rgba(255,255,0,0.1);
}

.slide-text {
    width: 255px;
    padding: 30px 0;
    color: #ffffff;
}

.slide-title {
    font: bold 36px/30px "Cuprum", "PT Sans", sans-serif;
}

.slide-text p {
   font: normal; 18px/24px "Cuprum", "PT Sans", sans-serif; 
}

.slide .btn {
    display: block;
    width: 200px;
    padding: 10px 0;
    margin-top: 25px;
    font: normal; 14px/18px "Cuprum", "PT Sans", sans-serif; 
    color: white;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    background: #ee3643;
    border-radius:3px;
}

.slide:nth-child(1) {
    background: url(../img/background/slider-1.jpg) no-repeat 100% 10px;
 }

 .slide{
    display:none;
}

.slide:nth-child(1) {
    display: block;
}

.slide:nth-child(2) {
    display:block;
}

.slide:nth-child(2) {
    background: url(../img/background/slider-2.jpg) no-repeat 100% 10px;
}